<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <title>The Game</title>
        <link rel="stylesheet" href="styles/game.css">
        <link rel="stylesheet" href="styles/navbar.css">
        <link rel="icon" href="img/Kanye.jpg">
        <script src="scripts/game.js" defer></script>
        <script src="scripts/leaderboard.js" defer></script>
    </head>
    
    <body>
        <nav>
            <div class="nav">
                <a href="main">Main Page</a>
                <a href="registration">Registration Page</a>
                <a href="game">Game Page</a>
                <a href="login">Login Page</a>
            </div>
        </nav>
        <h1 id="mainTitle">KANYE'S QUEST</h1>
        <button id="newGameButton">Go be the Kanye Best!</button>
        <p hidden id="authenticated"></p>
        <h2>Leaderboard</h2>
        <p hidden id="leaderboard-values"></p>
        <div>
            <button id="update">Update Leaderboard</button>
        </div>
    </body>
</html>