<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Eventually 5th webpage</title>
      <script src="scripts/test.js" defer></script>
      <link rel="stylesheet" href="styles/test.css">
      <link rel="stylesheet" href="styles/navbar.css">
  </head>
  <body>
  <div class="nav">
      <a href="main">Main Page</a>
      <a href="registration">Registration Page</a>
      <a href="game">Game Page</a>
      <a href="login">Login Page</a>
      <a href="music">Music/Gallery Page</a>
  </div>
    <div id="page-div">
        <h1>Kanye's Music & Gallery</h1>
    </div>
    <div id="frame">
        <iframe id= "kanye-video" src="https://www.youtube.com/embed/fMjasXiIhiQ" width= 1000 height=500 title="Kanye Video"></iframe>
        <div>
            <button id="next-song">Next song</button>
        </div>
    </div>
    <div class="youtube-container">
        <h1 id="lol">Kanye Gallery</h1>
        <button id="test">Click for more images</button>
    </div>
  </body>
</html>