body {
    font-family: Georgia, serif, 'Times New Roman', Times;
    background-color: black;
    color: white;
}
#container {
    display:flex;
    flex-direction: column;
    padding: 5px;
}
#container > div {
    padding: 10px;
}
#kanye-form-div, #quote-div, #quote {
    background-color: rgb(239, 200, 129);
    color: black;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}
#quote {
    color: white;
}
#kanye {
    margin-top: 7px;
}
.kanye {
    background-color: rgb(239, 200, 129);
    color: black;
    text-align: center;
}
#page-div {
    margin-top: 30px;
    text-align: center;
}
#log-out-button {
    display:block;
    color: yellow;
    background-color: black;
    border-radius: 20px;
    border:5px solid rgb(239, 200, 129);
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
#log-out-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.button {
    display:inline;
    color: yellow;
    background-color: black;
    margin-top: 5px;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    border-style: none;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}
